# Node modules
node_modules/
perfume-client/node_modules/
perfume-backend/node_modules/

# Build / dist folders
perfume-client/build/
perfume-backend/dist/

# Environment files
.env
perfume-client/.env
perfume-backend/.env
.env.local
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/